<%= link_to "イベント追加", new_event_path %>

<div id="T1"></div>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
    <% events.each do |event| %>
    <div>
      <%= link_to event_path(events) do %>
        <%= event.title %>
      <% end %>
    </div>
    <% end %>
<% end %>

<script>
  window.onload = function() {
  setInterval(function() {
    var dd = new Date();
    document.getElementById("T1").innerHTML = dd.toLocaleString();
  }, 1000);
}
</script>